<!DOCTYPE html>
<html lang="en">

<head>
    <title>post_detail</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <blockquote class="blockquote p-3 bg-info text-white">
        <h3>{{ post.title }}</h3>
        <p>{{ post.content }}</p>
        <footer class="blockquote-footer">{{ post.author.first_name }} {{ post.author.last_name }}</footer>
    </blockquote>
</body>

</html>