{% extends "base.html" %}
{% block content %}



<div class="container">

{% if category_posts %}

    <h1>{{ cats }}</h1>
    {% for post in category_posts %}
    <div class="border border-2 border-warning m-3 p-3">

        <a style="color: rgb(0, 23, 151); text-decoration: none;" href="{% url 'article-detail' post.pk %}"><h4>{{ post.title }}</h4></a>
        ({{ post.category }})
        {{ post.content|slice:":100"|safe }}...

        {% if user.is_authenticated %}
        <a href="{% url 'update_post' post.pk %}"><small>Edit</small></a>
        <a style="color: red;" href="{% url 'delete_post' post.pk %}"><small>Delete</small></a>
        {% endif %}
    </div>

{% endfor %}
{% else %}
<h2>this this page does not exist</h2>
{% endif %}

</div> 

{% endblock %}